<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SnapResume</title>
</head>
<body>

    <h1>SnapResume</h1>

    <textarea id="resume" placeholder="Paste Resume"></textarea>

    <br><br>

    <textarea id="job" placeholder="Paste Job Description"></textarea>

    <br><br>

    <button onclick="analyzeResume()">Analyze</button>

    <h2>Result:</h2>

    <div id="result"></div>

    <script src="/static/script.js"></script>

</body>
</html>